@using CarInsuranceMVC.ViewModels
@model List<QuotesVm>

<div class="row no-gutters m-3">
    <div class="card col-sm-12 col-md-10 col-lg-6" mx-auto shadow">
        <div class="card-header text-center">
            <h4 class="m-0 mb-3">Applicants</h4>
        </div>
        <div class="card-body">
            @foreach (var application in Model)
            {
                <div class="row ml-2 mb-3">
                    <div class="col-md-3">
                        @application.FirstName
                    </div>
                    <div class="col-md-3">
                        @application.LastName
                    </div>
                    <div class="col-md-4">
                        @application.EmailAddress
                    </div>
                    <div class="col-md-2">
                        $@application.Quote
                    </div>
                </div>
            }
        </div>
    </div>
</div>  